## Sum

In [4]:
def sum(num1,num2):
    return num1+num2
sum(1,2)

3

## Simple List

In [20]:
ls =[4,5,6]
print(ls[0])

#pop
ls.pop(2)
#loop
for l in ls:
    print(l)

ls.append(7) 
for l in ls:
    print("After {}".format(l))

4
4
5
After 4
After 5
After 7

In [32]:
#nested list
nestedlist =[1,2,[100,101,['target']]]

nestedlist[2]
nestedlist[2][2][0]

'target'

## Dictionary

In [14]:
#dict
dic ={1:"One",2:"two",3:"three",4:"four"}
dic[1]

'One'

## Sets

In [33]:
#Sets
set ={1,4,5,6}
print(set)

{1, 4, 5, 6}

In [34]:
set.add(1)

In [36]:
print(set)

{1, 4, 5, 6}

In [38]:
# Strings in a set

str_set={"one","two","three"}
print("Set values {}".format(str_set))

Set values {'three', 'two', 'one'}

In [40]:
# add string to a set
str_set.add("one")
print("After set values {}".format(str_set))

After set values {'three', 'two', 'one'}

In [41]:
str_set.add("four")

In [42]:
print("After set values {}".format(str_set))

After set values {'three', 'two', 'one', 'four'}

## TUPLES

In [46]:
empty_tuple =()
print(empty_tuple)

()

In [47]:
del empty_tuple
print(empty_tuple)

NameError: name 'empty_tuple' is not defined